{% extends "base_layout.html" %} {% load static %} {% block head %}
<title>GMS - User Dashboard</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/calendar.css' %}" />

{% endblock %}
{% block content %}

<main style="margin: auto 0" id="mainDiv">
  <div class="container-sm border border-1 p-2 py-3 rounded shadow" >
    <!-- Today's callout -->
    <div class="container p-3 rounded bg-success bg-gradient text-white d-flex align-items-center">
      <p class="m-0 flex-fill text-center fw-bold">
        <span ><i class="bi bi-calendar-check"></i></span>
        Book on <span id="bookOnDate">Monday, August 25th</span></p>
    </div>

    <!-- Calendar for today -->
    <!-- 6-12 16-22 or 6-12  4-10, let's do two columns, half an hour spots, 4 per spot-->
    <!-- 6 hours morning turn, 12 divs, 6 hours afternoon shift, 12 divs -->
    <div class="container row g-2">
      <!-- Morning slots container -->
      <div class="container col-md">
        <!-- slots -->
        <div class="list-group overflow-auto" id="morningSlots" style=" height: 50vh; max-height: 50vh;">
          <div>Morning Time Slots</div>

<!--            <button class="list-group-item border list-group-item-action d-flex px-2 sessionBookingItem" data-bs-toggle="modal" data-bs-target="#book-workout"><div class="fs-5 align-items-center w-50" sday="2" smonth="3" syear="22" shour="6" smin="0" sdateshort="02/03/22" sdatestring="Wednesday, March 2" sdatepythonformat="03/02/2022, 06:00">6:00AM</div><div class="border rounded row flex-grow-1 mx-2 align-items-center justify-content-center bg-success text-white">0/4</div></button>-->

            <div id="morningLoader">Loading...</div>


          <!-- <div class="d-flex">
            <button class="list-group-item list-group-item-action d-flex px-2 sessionBookingItem"
            data-bs-toggle="modal" data-bs-target="#book-workout">
              <div class="fs-5 align-items-center w-50" bDay="" bMonth="" bYear="" bHour="" bMin="" bDateShort="25/08/21">06:00AM</div>
              <div class="bg-success text-white border rounded primary row row-cols-2 flex-grow-1 mx-2 align-items-center justify-content-center">0/4</div>
            </button>
            <button class="border list-group-item list-group-item-action d-flex px-2"
            data-bs-toggle="modal" data-bs-target="#book-workout">
              <div class="fs-5 align-items-center w-50">6:30AM</div>
              <div class="bg-warning text-white border rounded primary row row-cols-2 flex-grow-1 mx-2 align-items-center justify-content-center">3/4</div>
            </button>
          </div> -->




          <!-- 4 spots square layout
          <div class="d-flex">
            <button class="border list-group-item list-group-item-action d-flex p-1 px-2"
            data-bs-toggle="modal" data-bs-target="#book-workout">
              <div class="fs-5 align-items-center w-50">6:00AM</div>
              <div class="text-white  primary row row-cols-2 flex-grow-1 mx-2 g-1">
                <div class="col"><div class="rounded-2 bg-success p-2"></div></div>
                <div class="col"><div class="rounded-2 bg-success p-2"></div></div>
                <div class="col"><div class="rounded-2 bg-success p-2"></div></div>
                <div class="col"><div class="rounded-2 bg-success p-2"></div></div>
              </div>
            </button>*2
          </div>*6

          </div> -->

        </div>
      </div>

      <div class="container col-md">
        <!-- slots 4-10-->
        <div class="list-group overflow-auto" id="afternoonSlots" style=" height: 50vh; max-height: 50vh;">
          <div>Afternoon Time Slots</div>
          <div id="afternoonLoader">Loading...</div>

          <!-- <div class="d-flex">
            <button class="list-group-item list-group-item-action d-flex px-2"
            data-bs-toggle="modal" data-bs-target="#book-workout">
              <div class="fs-5 align-items-center w-50">4:00PM</div>
              <div class="bg-success text-white border rounded primary row row-cols-2 flex-grow-1 mx-2 align-items-center justify-content-center">0/4</div>
            </button>*2
          </div> -->



        </div>
      </div>

    </div>



    <!-- weeks abailability, basically works as a tabbed nav that changes divs on upper div-->
    <div class="container">
      <div class="container fs-5 fw-bold mb-2">This week's day availability: <span id="weeksLoader">Loading...</span></div>


      <div class="container row justify-content-around text-center g-2" id="footerButtonsContainer">

        <!-- <div class="col">
          <button class="btn btn-primary fs-5 fw-bold text-center footerButton">
            Mon<br>
            <span id="monAvailability">60%</span>
          </button>
        </div> -->

      </div>
    </div>
  </div>


</main>


<!-- Modal -->
<div class="modal fade" id="book-workout" tabindex="-1" aria-labelledby="book-workoutLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="book-workoutLabel">Book Workout</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <div class="container p-3 rounded bg-warning bg-gradient d-flex align-items-center">
          <!-- button to book workout-->

          <p class="m-0 flex-fill text-center fs-3 ">Confirm Your Booking?
            <br>
            <span id="modalDateString"></span>
          </p>
        </div>
        <div class="container d-flex align-items-center py-3 text-center">
            <div class=" py-4 px-2 mx-2 rounded  shadow bg-secondary bg-gradient text-white fs-2" id="modalTime">10:00AM</div>
            <div class="container py-4 px-2 mx-2 rounded  shadow flex-grow bg-secondary bg-gradient text-white fs-2" id="modalShortDate">25/08/21</div>
        </div>
        <!-- <div class="container">
            id:3456789
        </div> -->
      </div>
      <form action="/add_booking/" method="post">
        {% csrf_token %}
        <div class="modal-footer">
          <input type="hidden" id="timeStampPost" value="" name="timeStamp">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success">Confirm</button>
        </div>
      </form>
    </div>
  </div>
</div>
    <script>
      let data = {{ calendar|safe }}
    </script>

    <script type="text/javascript" src="{% static 'js/activity.js' %}"></script>
{% endblock %}
