{% extends "base_layout.html" %}

{% load static %}

{% block head %}

    <!-- Custom styles for this template -->
    <style>
        .code-button:hover {
            background-color: #4CAF50; /* Green */
            color: #ff7000;
        }
    </style>
{% endblock %}

{% block content %}
    <main class="form-signin mb-3" style="margin: auto 0;">
        <div class="card text-center">
            <div class="card-header">
                {% if codes %}
                    <p class="card-text display-6">Codes Generated</p>
                {% else %}
                    <h5 class="card-title fs-4 fw-light">Generate Codes</h5>
                {% endif %}
            </div>
            <div class="card-body">
                <div class="container ">
                    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">

                        {% for code in codes %}
                            <div class="col">
                                <button class=" btn p-2 py-lg-2 px-lg-3 border bg-light code-button" data-bs-container="body"
                                        data-bs-toggle="popover" data-bs-placement="top" data-bs-content="Top popover"
                                        onclick="copyClipboard(this)" value="{{ code }}">{{ code }}
                                </button>

                            </div>
                        {% endfor %}


                        {% if not codes %}
                            <p class="card-text w-100">Generate the Serial Codes for users be able to register
                                on the Easy Condo app</p>
                        {% endif %}
                    </div>
                </div>
            </div>
            <div class="card-footer text-muted">
                <p class="mb-1">To share easily with the user you can just export as csv</p>
                <form action="{% url 'generate_codes' %}" method="post">
                    {% csrf_token %}
                    <div class="input-group" style="margin-left: auto; margin-right: auto; max-width: 500px">
                        <input type="number" class="form-control" name="quantity"
                               placeholder="Number of codes to generate"
                               aria-label="codes" aria-describedby="button-addon">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon">Generate</button>
                        <button class="btn btn-outline-secondary m-1" type="submit" id="button-addon">Export CSV
                        </button>
                    </div>
                </form>
            </div>
        </div>

    </main>
    <script defer>
        function copyClipboard(el) {
            /* Get the text field */
            var copyText = el.value

            /* Copy the text inside the text field */
            navigator.clipboard.writeText(copyText);
            let modalAlert = document.getElementById('alertModalDialog').children[0].children[0];
            modalAlert.classList.add('alert-info');
            modalAlert.children[0].innerHTML = '<span class="material-icons"> content_copy </span>'
            modalAlert.children[1].innerHTML = 'Serial Code Copied to Clipboard';


            alertModal.toggle()
        }
    </script>
{% endblock %}

