{% extends "base_layout.html" %}

{% load static %}

{% block head %}
<title>GMS - Log-in</title>

<!-- Custom styles for this template -->
<link rel="stylesheet" href="{% static 'css/login.css' %}">
{% endblock %}

{% block content %}
<main class="form-signin" style="margin: auto 0;">


    <form action="{% url 'user_login' %}" method="post">
        {% csrf_token %}
        <form class="site-form" action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Login">
        </form>
        <img class="mb-4" src="{% static 'images/damha-logo.png' %}" alt="damha III">
        <h1 class="h3 mb-3 fw-normal" style="text-align: center">Please sign in</h1>

        <div class="form-floating">
            <input type="text" class="form-control" id="floatingInput" placeholder="username" name="username" required>
            <label for="floatingInput">
                <span><i class="bi bi-person-circle"></i></span>
                Username
            </label>
        </div>
        <div class="form-floating">

            <input type="password" class="form-control" id="floatingPassword" placeholder="Password"
                   name="password" required>
            <label for="floatingPassword">
                <span><i class="bi bi-key"></i></span>
                Password
            </label>
        </div>

        <div class="checkbox mb-2">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-primary mb-2" type="submit">Sign in</button>
    </form>

    <div class="container">
        <div class="d-flex justify-content-center mb-1 links">
            Don't have an account?&nbsp;&nbsp <a href="/registration/">Sign Up</a>
        </div>
        <div class="d-flex justify-content-center mb-1 links">
            Are you a condo?&nbsp;<a href="/registration/">Join Us</a>
        </div>
        <div class="d-flex justify-content-center">
            <a href="/accounts/password_reset/">Forgot your password ?</a>
        </div>
    </div>

</main>
{% endblock %}

